
<!--Vue.js的核心是允许采用简洁的模板来声明式地将数据渲染进DOM的系统-->
<!--Vue.js的应用可以分成两个重要的组成部分，一个是视图，一个是脚本-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>the fist day of vue.js</title>
        <script src=vue.js type="text/javascript" charset="utf-8"></script>
        <!--生成了一个Vue的全局变量-->
    </head>
    <body>
        <!--声明了一个变量message，是Vue.js最常用的文本插值的方式-->

        <div id="app1">
            {{message}} {{name}}
        </div>
        <!--用script脚本包裹了一段JS-->
        <!--new Vue生成一个Vue.js的应用，给app
        在new的过程中要传递参数给属性，el(元素)
        data,在视图中声明了哪些变量，就要在data中注册变量并初始化（赋值）
    -->
        <script type="text/javascript">
        var app1=new Vue({
            el:"#app1",/*id选择器的方式选中app*/
            data:{
                message :"Hello Vue!",
                name:"Vue"
            }
        })
        </script>
      <div id="app-2">
        <span v-bind:title="message">
          鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
      </div>
      <script type="text/javascript">
        var app2 = new Vue({
        el: '#app-2',
        data: {
          message: '页面加载于 ' + new Date().toLocaleString()
        }
        })
        </script>
        <div id="app-3">
          <ol>
            <li v-for="todo in todos">
              {{todo.text}}
            </li>
          </ol>
        </div>

        <script type="text/javascript">
        var app3=new Vue({
          el:"#app-3",
          data: {

          todos:[
            {text:'i love '},
            {text:"coding"}
          ]
          }

        })
        </script>
        <div id="app-7">
          <ol>
            <!--
              现在我们为每个 todo-item 提供 todo 对象
              todo 对象是变量，即其内容可以是动态的。
              我们也需要为每个组件提供一个“key”，稍后再
              作详细解释。
            -->
            <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id"
            ></todo-item>
          </ol>
        </div>
        <script type="text/javascript">
         Vue.component('todo-item', {
          props: ['todo'],
          template: '<li>{{ todo.text }}</li>'
        })
        </script>
        <script type="text/javascript">var app7 = new Vue({
          el: '#app-7',
          data: {
            groceryList: [
              { id: 0, text: '蔬菜' },
              { id: 1, text: '奶酪' },
              { id: 2, text: '随便其它什么人吃的东西' }
            ]
          }
        })
      </script>
    </body>
</html>
